*{
  /*To avoid horizontal scroll*/
  max-width: 100%;
  font-family: "Arial", "Halevetica", sans-serif;
}
html,body{
  /* remove padding and margin on body and give it total height*/
  margin: 0;
  padding:0;
  height:100%;
  width: 100%;
  background-color: #F3F3FB;
}
#main{
  margin: 0;
  padding:0;
  height:100%;
}

#loader{
  position: fixed;
  height:100%;
  width: 100%;
  background-color: white;
  background-size: cover;

  z-index: 10000;
}

#loader .loaderTrk{
  background-color: #004084;
  height: 4px;
  animation-name: track;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

@-webkit-keyframes track {
  0%{
    width: 0%;
  }


  100%{
    width :100%;

  }

}

#loader img{
  width: 10em;

  margin-top: 20em;
  animation: move 4s infinite ;
  animation-direction: normal;
  animation-play-state: running;

}


@-webkit-keyframes move {
  0%{
    transform: scale(1);
    margin-left: 0%;
  }


  100%{
    transform: scale(1);
    margin-left: 100%;


  }

}


section{
  /*All sections this can be overidden for each section*/

  animation-name:appear;
  height: 100%;
  animation-duration: 4s;
  background-color: white;
}

section#intro{
  max-height: 100%;
  padding-top: 5em;
  padding-left: 5em;
  /*width: 100%;*/
  /*margin-left: 4.5em;*/
  animation: bg-change;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-direction: normal;
  margin-top: 0;
  /* background-color: white; */
  background-image: url(images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  background-color: rgba(76, 73, 88, 0.356);
  background-blend-mode: multiply;
}
#intro h1 {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 10em;
}
#intro p{
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 2.8em;
}
#intro button.join-community-btn{
  background-color: #2A8BF2;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 10px;
  padding-bottom: 10px;

  max-width: 50%;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden;
}

@-webkit-keyframes imgRotate{
  0%{
    transform: rotateY(0deg);
  }

  25%{
  transform: rotateY(90deg);
  }

  50%{
  transform: rotateY(180deg);
  }


  75%{
  transform: rotateY(270deg);
  }

  100%{
  transform: rotateY(360deg);
  }
}

@-webkit-keyframes bg-change{
  0%{
    color:#0095CA;
  }

  /*25%{
  background-color:#004960;

  }*/

  50%{
  color:#000000;

  }

  100%{
  color:#004084;

  }
}
/*=====CARDS====*/
section#cards{
  background-color: #004084;
  color: black;
  height: 35%;
  max-height: 50%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

section#cards div.support-card-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section#cards div.support-column {
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;

  margin-top: 20px;
}

section#cards div.support-card {
  max-width: 25%;
  max-height: 75%;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #F3F3FB;
  color: black;
  display: block;
  position: relative;
  flex: auto;
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  margin: 25px;
}

#cards .support-card-img{
  height: 50px;
  position: absolute;
  padding-left: 10px;
}

#cards .support-card-main-text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 80px;
  padding: 10px;
}

#cards .support-card-text{
  font-size: 18px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

/*=====EVENTS & WEATHER=====*/
section#events{
  background-color:#F3F3FB;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: auto;
	min-height	: 80%;
  padding-bottom: 15px;
}

section#events div.container-fluid{
	/*height:100%;*/
	padding: 0;
  height:100%;
  margin-left: 5em;
}
section#events .row{
	padding: 0;
  max-width: 100%;
  margin-left: 0em;
}
section#events div.container-fluid div.bg-1{
	height:100%;
}
section#events div.container-fluid div.bg-1 .content{
	height: 100%;
}

/*--carousel----*/
section#events div.container-fluid div.bg-1 .content #myCarousel{
  height:100%;
  width: 87%;
  margin-top: -20px;
  margin-right: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}
section#events div.container-fluid div.bg-1 .content #myCarousel div.carousel-inner{
	height:100%;
}
section#events div.container-fluid div.bg-1 .content #myCarousel img{
	min-width:100%;
}
/* .carousel-inner img {
  width: 100%;
  margin: auto;
} */
.carousel-caption{
/*	height: 40%;*/
	background-color: rgba(0, 149, 202, 0.8);
/*	margin-left: 40%;*/
/*	width: 35%;*/
}
  .carousel-caption h3 {
      color: #fff !important;
  }
div.weather-banner{
  height:100px;
  color: #004084;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-top: 1.2em;
}
/*---weather----*/
#weather {
display: flex;
align-items: center;
justify-content: center;
}
div.content#weather{
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  font-size: 24px;
}
#weather img{
  height:100px;
}
/*---End weather----*/
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

.highlights{
  color: #004084;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-top: 1.2em;
  margin-bottom: 2.5em;
}
/*--End carousel----*/

/*=====END EVENTS & WEATHER=====*/
/*=====MAP INFO=====*/
section#mapinfo{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 100%;
  width: 100%;
}

section#mapinfo .row{
  height:100%;
  max-width: 90%;
  max-width: 90%;
  margin:auto;
}
section#mapinfo .row .cols{
  height:100%;
  padding: 0;
  margin: 0;
}
section#mapinfo .row .cols#info{
  height: 50%;
  max-height: 60%;
}
section#mapinfo .row .cols .mapinfo{
  display:block;
  justify-content:left;
  justify-items: left;
  align-items: left;
  height:50px;
  color:#004084;
  cursor: pointer;
}
#routeresult{
  max-height: 80%;
  display: none;
  text-align:left;
  overflow-x: scroll;
}
#facilityresult{
  max-height: 90%;
  display: none;
  text-align: left;
  overflow-x: scroll;
  margin-left: 1em;
}
section#mapinfo .row #map{
  height:70%;
  width:80%;
  /* margin-left: 10em; */
}

div #info .cols{
  padding-top: 60px;
}

section#mapinfo div#mapresult{
  margin: 0px;
  padding: 0px;
}
section#mapinfo .row .cols #mapresult .row{
  margin: 0px;
  padding: 0px;
}

section#mapinfo .row .cols .mapinfo#routes,
section#mapinfo .row .cols .mapinfo#facilities p{
  font-size: 24px;
  text-align: left;
  margin-left: 2.3em;
}

section#mapinfo .row .cols #mapresult .name{
  padding-left: 0;
  overflow: hidden;
}
section#mapinfo .row .cols #routeresult .name{
  margin-left: 7.5em;
}
section#mapinfo .row .cols #routeresult .row{
  overflow: hidden;
  height:auto;
}

#join-btn{
  margin-left: 4em;
  margin-top: 20px;
}
#join-btn button.join-community-btn{
  background-color: #2A8BF2;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* max-width: 50%; */
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden;
}

section#mapinfo .attr p{
  color:#004084;
  font-weight: bold;
  font-size: 16px;
}
section#mapinfo  .name p{
  padding:3px;
  cursor: pointer;
  font-size: 16px;
}
section #info{
  padding-top: 25%;
}

@media only screen and (max-width: 993px) {
    section#mapinfo {
        height:120%;
        margin-top: 10%;
        margin-bottom: 10%;

    }
    section#mapinfo .row .cols{
      height:50%;

    }
    section#mapinfo .row #map{
      margin-left: 15px;
    }
    section.row{
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom:
    }
  section#intro{
    margin-bottom: 10%;
  }
  section#diva{
    margin-top: 0;
    padding-top: 0;
  }
  #map{
  padding-bottom: 0;
  }
}
/* end map section*/



footer{
  height:50%;

}
#diva{
    background-color: #004084;
  height: 120%;
    /*margin-top: 10em;*/
    width: 100%;
}
#diva h1{
  text-align: center;
  font-size: 4em;
  color: white;
}

#diva h2{
  text-align: center ;
  font-size: 3em;
  color: white;

}

#diva form{
  margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;

}

#diva .socialIcons img{
  text-align: center;
  padding-right: 3em;
}

#diva .socialIcons{
  text-align: center;
  padding-top: 1em;
}

#diva form button{
  width: 8em;
}
#diva form input{
  width: 30em;
  border-radius: 5px;
  height: 2.5em;
}


/*media query for footer*/
@media only screen and (max-width: 993px) {

  footer{
    /*padding-top:5em;*/
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;

  }

  #diva h1{
    font-size: 20px;
  }

  #diva h2{
    font-size: 15px;
  }

  #diva .socialIcons img{
    padding-right: 0em;
    width: 2em;
    margin-top: 0px;

  }
  #diva .socialIcons{
    margin-left: 5%;
    align-content: center;
    margin-top: 0em;

  }

  #diva form{
    padding: 5%;
  }

  #diva form input{

    height: 2em;
  }

  #diva form button{

    height: 2em;
  }
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #004084; /* Dark Blue*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    height: 100%;
}

/* The navigation menu links */
.sidenav a {
    padding: 50px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#navimage img{
  height: 7em;
  width: auto;
  padding: 2em 2em 0em 2em;
  position: fixed;
  z-index: 0.5;
  display: none;
  animation-name: imgRotate;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  cursor: pointer;
}

nav{
  margin-top:  0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*this for the arrow pointing down*/
div.downarrow{
  transform: rotateX(200deg);
  margin-left: 15em;
  margin-top: 7em;
  width: 9em;
  animation-iteration-count: infinite;
}